# ignore node_modules
node_modules

# ignore bower_components
bower_components

#ignore Procfile
Procfile

# Local config file for connecting to database
app/local_config.js

# DS_Store
.DS_Store

# Ignore vendor files
public/assets/js/vendor

public/assets/js/vendor2

public/assets/css

public/assets/css2